.movies-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1140px;
  row-gap: 30px;
  column-gap: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}