.movies-card {
  height: auto;
  background-color: #222222;
  position: relative;
  width: 100%;
}

.movies-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 2 * 14px);
  align-self: center;
  margin: 14px auto;
}

.movies-card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 9px;
}

.movies-card__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  margin: 0;
}

.movies-card__unsave-film-button {
  background-color: #313131;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .5s;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/save-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.movies-card__unsave-film-button:hover {
  opacity: 0.7;
  transition: all .5s;
}

.movies-card__save-film-button {
  background-color: #3DDC84;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .5s;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/saved-film-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.movies-card__save-film-button:hover {
  opacity: 0.7;
  transition: all .5s;
}

.movies-card__delete-film-button {
  background-color: #313131;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .5s;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/remove-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.movies-card__delete-film-button:hover {
  opacity: 0.7;
  transition: all .5s;
}

.movies-card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  max-height: 203px;
}

@media screen and (max-width: 560px) {
  .movies-card__image {
    max-height: 168px;
  }
}