.more-button {
  align-self: center;
  margin: 90px auto 260px auto;
  background-color: #202020;
  border: 1px solid #424242;
  max-width: 320px;
  width: 100%;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0;
}

.more-button:hover {
  opacity: 0.7;
  transition: all .5s;
}

.movies__error {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 90px;
}

@media screen and (max-width: 560px) {
  .more-button { 
    width: 240px;
    margin-top: 80px;
    margin-bottom: 160px;
  }
}