.not-found__section {
  max-width: 400px;
  width: 100%;
  height: auto;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found__header {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  color: #FFFFFF;
  margin-top: 246px;
  margin-bottom: 5px;
}

.not-found__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 184px;
}

.not-found__link-back {
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
}

@media screen and (max-width: 6) {
  .not-found__header {
    font-size: 80px;
    line-height: normal;
    margin-top: 330px;
    margin-bottom: 10px;
  }

  .not-found__text {
    font-size: 12px;
    margin-bottom: 284px;
  }

  .not-found__link-back {
    margin-bottom: 30px;
  }
}