.promo__container {
  background-color: #272727;
  margin-top: 20px;
  border-radius: 10px;
  width: calc(100% - 2 * 40px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.promo__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 58px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 150px;
  max-width: 730px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .promo__container {
    width: calc(100% - 2 * 20px);
    max-width: 1024px;
  }

  .promo__title {
    font-size: 40px;
    line-height: 52px;
    padding-top: 350px;
    padding-bottom: 310px;
  }
}

@media screen and (max-width: 560px) {
  .promo__container {
    width: calc(100% - 2 * 14px);
    max-width: 346px;
    margin-top: 26px;
  }

  .promo__title {
    font-size: 28px;
    line-height: 37px;
    padding-top: 226px;
    padding-bottom: 210px;
    letter-spacing: -0.8px;
  }
}