.search-form__section {
  max-width: 1140px;
  width: calc(100% - 2 * 70px);
  align-self: center;
  /* margin: 70px auto 70px auto; */
  margin: 70px auto 0 auto;
  padding-bottom: 70px;
  height: auto;
  position: relative;
  border-bottom: 1px solid #424242;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2F2F2F;
  border-radius: 9px;
  min-height: 72px;
}

.search-form__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-input {
  background-color: #2F2F2F;
  border: none;
  color: #FFF;
  cursor: pointer;
  min-height: 72px;
}

.search-input:focus {
  outline: none;
}

.search-form__button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #4285F4;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-form__icon {
  width: 22px;
  height: 22px;
  padding-left: 20px;
  padding-right: 10px;
}

.search-form__line {
  width: 1px;
  height: 40px;
  background-color: #424242;
  margin-left: 30px;
  margin-right: 30px;
}

.search-form__checkbox {
  margin-right: 0;
  margin-left: auto;
}

.search-form__items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__items_mobile {
  display: none;
}

.search-form__mobile-checkbox {
  display: none;
}

@media screen and (max-width: 1024px) {
  .search-form__section {
    width: calc(100% - 2 * 30px);
    margin: 100px auto 0 auto;
    padding-bottom: 110px;
    min-height: 72px;
    height: auto;
  }

  .search-form__line {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 520px) {
  .search-form__section {
    padding-bottom: 44px;
    width: calc(100% - 2 * 10px);
  }

  .search-form__items {
    display: none;
  }

  .search-form__items_mobile {
    display: block;
  }

  .search-form__icon {
    display: none;
  }

  .search-input {
    border-radius: 9px;
    padding-left: 20px;
  }

  .search-form__button {
    margin-right: 20px;
  }

  .search-form__mobile-checkbox {
    display: flex;
    align-items: center;
  }
}