.header {
  /* display: flex;
  justify-content: center; */
  padding-top: 18px;
  width: calc(100% - 2 * 70px);
  max-width: 1140px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
}

.logo {
  width: 38px;
  height: 38px;
}