.nav-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.nav-tab__link {
  background-color: #303030;
  color: #FFFFFF;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 20 auto;
  width: 96px;
  min-height: 36px;
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-tab__link:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 560px) {
  .nav-tab {
    padding-bottom: 16px;
  }

  .nav-tab__link {
    width: 82px;
    min-height: 26px;
    font-size: 10px;
  }

  .nav-tab__link:not(:last-child) {
    margin-right: 6px;
  }
}